Flask==0.11.1
Flask-Cors==2.1.2
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.5.1
PyYAML==3.11
Werkzeug==0.11.10
beautifulsoup4==4.3.2
click==6.6
cssselect==0.9.1
feedfinder2==0.0.1
feedparser==5.1.3
itsdangerous==0.24
jieba==0.35
lxml==3.3.5
newspaper==0.0.9.8
nltk==2.0.5
oauthlib==1.1.2
python-dateutil==2.4.0
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
tldextract==1.5.1
tweepy==3.5.0
wsgiref==0.1.2
